{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3> ADD TOUR</h3>
<div>
    <a href="/create_tour/" class="btn btn-primary" >Create</a>
    <form class="search-form d-flex align-items-center" action="#" method='POST'>
    {% csrf_token %}
        <input type="search" name="search" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>

</div>
<table class="table" align="100px" >
    <thead>
    <tr>
        <th scope="col">NO</th>
        <th scope="col">NAME</th>
        <th scope="col">WEATHER</th>
        <th scope="col">LOCATION STATE</th>
        <th scope="col">LOCATION DISTRICT</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">ACTION</th>

    </tr>
    </thead>
    <tbody>
        {% if data %}
        {% for data in data %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ data.name }}</td>
            <td>{{ data.weather }}</td>
            <td>{{ data.location_state }}</td>
            <td>{{ data.location_district }}</td>
            <td>{{ data.description }}</td>

            <td>
                <a href="/detail/{{data.id}}" class="btn btn-primary">DETAILS</a>
                <a href="/update_tour/{{data.id}}" class="btn btn-success">UPDATE</a>
                <a href="/delete_tour/{{data.id}}" class="btn btn-danger">DELETE</a>

            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% for tours in tour %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ tours.Name }}</td>
            <td>{{ tours.Weather }}</td>
            <td>{{ tours.Location_State }}</td>
            <td>{{ tours.Location_District }}</td>
            <td>{{ tours.Description }}</td>

            <td>
                <a href="/tour_fetch/{{tours.id}}" class="btn btn-primary">DETAILS</a>
                <a href="/update_tour/{{tours.id}}" class="btn btn-success">UPDATE</a>
                <a href="/delete_tour/{{tours.id}}" class="btn btn-danger">DELETE</a>

            </td>
        </tr>
        {% endfor %}
    {% endif %}

    </tbody>
</table>
     <div class="mx-auto" style="margin-bottom: 38px; margin-top: 30px;">
          {% if tour.paginator.num_pages > 1 %}
              <div class="text-center">
                  {% for pg in tour.paginator.page_range %}
                      <a href="?page={{ pg }}" class="btn btn-primary btn-sn {% if tour.number == pg %}active{% endif %}">{{ pg }}</a>
                  {% endfor %}
              </div>
          {% endif %}
      </div>
{% endblock %}

